@font-face {
  font-family: 'Raleway Semibold';
  src: url("../font/Raleway-SemiBold.eot");
  src: url("../font/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Raleway-SemiBold.woff") format("woff"), url("../font/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../font/Raleway-Bold.eot");
  src: url("../font/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Raleway-Bold.woff") format("woff"), url("../font/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../font/Raleway-Medium.eot");
  src: url("../font/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Raleway-Medium.woff") format("woff"), url("../font/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Slab 500';
  src: url("../font/MuseoSlab-500.eot");
  src: url("../font/MuseoSlab-500.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSlab-500.woff") format("woff"), url("../font/MuseoSlab-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab Regular';
  src: url("../font/RobotoSlab-Regular.eot");
  src: url("../font/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../font/RobotoSlab-Regular.woff") format("woff"), url("../font/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
